# LaTeX optional files
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.toc

# C optional files
*.o

# Subversion folders
.svn

# PNL : codebases
PNL/myHome.img
PNL/pnl-tp.img
PNL/linux-4.9.82
PNL/log.tt

# Ignore massive folders
PSESI
FPGA1/DCC_Project
FPGA1/TP1-3
*.bin.txt
