# LaTeX optional files
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.toc

# C optional files
*.o

# Subversion folders
.svn

# PNL : codebases
*.o.cmd
*.ko
PNL/myHome.img
PNL/pnl-tp.img
PNL/linux-4.9.82
PNL/log.txt
.tmp_versions

# Ignore massive folders
PSESI
FPGA1/Projet/DCC_Project
FPGA1/TP1-3
FPGA1/ip_repo

# ARCHI2
